
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# NODE_ENV=production

# PORT=3000

# API_HOST=https://engine.dashboard-kar-tini.com/api
# REDIS_HOST=localhost

# WA_API=https://139.162.5.9:9090
# WA_TOKEN=

# DEMO=
